@import './theme1.scss';
@import './theme2.scss';
.titleDes{
  padding-top: 29px;
  font-size:24px;
  font-family:SourceHanSansCN-Medium;
  font-weight:500;
  color:rgba(255,255,255,1);
}
.titleCenter{
  margin-left: 262px;
}
.protectDay{
  font-size:12px;
  font-family:SourceHanSansCN-Light;
  font-weight:300;
  color:rgba(195,195,195,1);
  margin-left: 7px;
}
.desSty{
  text-align: center;
  margin-top: 13px;
  font-size:12px;
  font-family:SourceHanSansCN-Light;
  font-weight:300;
  color:rgba(230,230,230,1);
}
.top {
  margin-top: 78px;
}

.marginSty {
  margin-top: 13px;
  font-size:12px;
  font-family:SourceHanSansCN-Light;
  font-weight:300;
  color:rgba(192,192,192,1);
}

.smartWarp {
  width: 740px;
}

.margin4 {
  margin-top: 20px;
  margin-left: 10px
}

.headerSty {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  text-align: center;
}

.flexCont {
  flex: 1;
}

.img1 {
  width: 127px;
  height: 127px;
}

.largText {
  font-weight: 400;
  font-size:18px;
  font-family:SourceHanSansCN-Medium;
  font-weight:500;
  color:rgba(255,255,255,1);
}

.content {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

.scanCont {
  margin-top: 73px;
  display: flex;
  justify-content: center;
}

.scanAll {
  justify-content: center;
  display: flex;
  width:200px;
  height:48px;
  background:rgba(255,255,255,1);
  border-radius:3px;
  margin-left: 180px;
  line-height: 48px;
  font-size:26px;
  font-family:SourceHanSansCN-Light;
  font-weight:300;
  color:rgba(195,58,35,1);
  cursor: pointer;
}

.targetScan {
  width:150px;
  height:36px;
  line-height: 36px;
  text-align: center;
  background:rgba(255,255,255,0.2);
  border:1px solid rgba(255,255,255,1);
  border-radius:3px;
  font-size:14px;
  font-family:SourceHanSansCN-Light;
  font-weight:300;
  color:rgba(255,255,255,1);
  margin-left: 12px;
  margin-top: 6px;
}

.textSty {
  margin: 6px;
  font-size:12px;
  font-family:SourceHanSansCN-Light;
  font-weight:300;
  color:rgba(194,194,194,1);
}

.endSty {
  display: flex;
  justify-content: flex-end;
  justify-items: center;
  margin-top: 107px;
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

.img3 {
  width: 48px;

  height: 48px;
  cursor: pointer;
}

.avgFlex {
  display: flex;
  flex: 6;
  justify-content: center;
  text-align: center;
}

.ItemFlex {
  flex: 1;
}
.baseStatus{
  width:32px;
  height:14px;
  opacity:0.7;
  border-radius:2px;
  color:rgba(255,255,255,1);
  margin-left: 3px;
}
.falseStatus{
  background:rgba(255,0,0,1);
  width: 32px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  margin-left: 5px;
  color:rgba(255,255,255,1);
  border-radius:2px;
}
.trueStatus{
  background:rgba(73,188,52,1);
  width: 32px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  margin-left: 5px;
  color:rgba(255,255,255,1);
  border-radius:2px;
}

.textAlineSty{
  text-align: left;
  margin-left: 5px;
}
.modeSty{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.baseModeSty{
  font-size:12px;
  font-family:SourceHanSansCN-Light;
  font-weight:300;
  color:rgba(194,194,194,1);
}
.modeMargin{
  margin-top: 10px;
  margin-bottom: 10px;
}
.countSty{
  font-size:16px;
  font-family:SourceHanSansCN-Light;
  font-weight:300;
  color:#35BFFF;
  line-height: 10px;
}

.defendMargin{
  margin-top: 6px;
  margin-bottom: 6px;
}
.defendStatus{
  margin-top: 11px;
}
.clusterSty{
  color:#35BFFF;
}
