@import './theme1.scss';
@import './theme2.scss';

.top {
  margin-top: 78px;
}
.marginSty{
  margin-bottom: 20px;
}
.smartWarp {
  width: 740px;
}
.margin4{
  margin-top: 20px;
  margin-left: 10px
}
.headerSty {
  display: flex;
  justify-content: center;
  padding-top: 83px;
  text-align: center;
}
.flexCont{
  flex: 1;
}
.img1 {
  width: 127px;
  height: 127px;
}
.largText {
  font-size: 20px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
.content {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.scanCont {
  margin-top: 50px;
  display: flex;
}
.scanAll {
  justify-content: center;
  display: flex;
  width: 230px;
  height: 55px;
  margin-left: 230px;
  line-height: 55px;
  background: rgba(255, 255, 255, 1);
  border-radius: 5px;
  font-size: 30px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(195, 58, 35, 1);
  cursor: pointer;
}
.targetScan {
  height: 55px;
  width: 96px;
  line-height: 55px;
  margin-left: 30px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
.textSty {
  margin: 10px;
}
.endSty {
  display: flex;
  justify-content: flex-end;
  justify-items: center;
  margin-top: 107px;
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
.img3 {
  width: 48px;

  height: 48px;
  cursor: pointer;
}
.avgFlex {
  display: flex;
  flex: 6;
  justify-content: center;
  text-align: center;
}
.ItemFlex {
  flex: 1;
}
