@import './theme1.scss';
@import './theme2.scss';

.network {
  .operation {
    height: 22px;
    padding: 10px 0;
    @include childXBetween;
    // background: yellowgreen;

    .func {
      display: flex;

    }

    .search {}
  }

  .tableWarp {}

  .myPaginationWarp {
    @include childXRight
  }
}
