@import './theme1.scss';
@import './theme2.scss';


.head {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 20px;
  background: yellowgreen;
  @include childXBetween;

  .left {
    line-height: 40px;
    font-size: 20px;
    color: $white;
  }

  .right {
    @include childXYCenter;

    div {
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;

    }
  }
}
