@import './color.scss';
@import './font.scss';
@import './background.scss';

//scss 基本语法 参考地址  http://www.ruanyifeng.com/blog/2012/06/sass.html
@mixin childYCenter {
  display: flex;
  align-items: center;
}

@mixin childXCenter {
  display: flex;
  justify-content: center;
}

@mixin childXYCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin childXBetween {
  display: flex;
  justify-content: space-between;
}

@mixin myBtn {
  padding: 8px 50px;

}

@mixin childXRight {
  display: flex;
  justify-content: flex-end;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

//去除elment input默认样式
.el-input--small .el-input__inner {
  border: none;
  outline: none;
  padding: 0;
  border-radius: 0;
}

.el-date-range-picker.has-sidebar {
  width: 650px;
  font-size: 12px !important;
}

.el-date-range-picker__content {
  width: 49%;
}

.el-picker-panel__shortcut {
  font-size: 12px;
}

.el-picker-panel [slot=sidebar],
.el-picker-panel__sidebar {
  width: 85px;
}

.el-picker-panel [slot=sidebar]+.el-picker-panel__body,
.el-picker-panel__sidebar+.el-picker-panel__body {
  margin-left: 85px;


}

.el-date-range-picker__content .el-date-range-picker__header div {
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  // border-radius:5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: rgba(0, 0, 0, .1)
}

//全局默认开关样式
.el-switch__core:after {
  width: 12px;
  height: 12px;
  top: -1px;
  left: -1px;
}

.el-switch__core {
  width: 25px !important;
  height: 12px;
}

.el-switch.is-checked .el-switch__core::after {
  margin-left: -6px;
}

//所有弹窗改为absolut 定位
.el-drawer__wrapper {
  position: absolute;
}

//所有弹窗改为遮罩改为body定位 定位
.v-modal {
  position: absolute;

}
