@import './color.scss';
@import './font.scss';
@import './background.scss';

//scss 基本语法 参考地址  http://www.ruanyifeng.com/blog/2012/06/sass.html
@mixin childYCenter {
  display: flex;
  align-items: center;
}

@mixin childXCenter {
  display: flex;
  justify-content: center;
}

@mixin childXYCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin childXBetween {
  display: flex;
  justify-content: space-between;
}

@mixin childXRight {
  display: flex;
  justify-content: flex-end;
}

//去除elment input默认样式
.el-input--small .el-input__inner {
  border: none;
  outline: none;
  padding: 0;
  border-radius: 0;
}
