.theme1 {
  .warp {

    background: linear-gradient(152deg, rgba(201, 75, 75, 1) 0%, rgba(75, 19, 79, 1) 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;

  }

  .leftMean {

    background: rgba(255, 255, 255, 0.1);

    .logo {
      // background: #888888;

      .itemName {

        color: rgba(255, 255, 255, 1);
      }
    }

    .user {
      .userInfo {
        color: #ffffff;

        .userImg {
          // background: red;
        }
      }
    }

  }
}
