.theme1 {
  .warp {

    background: url('~@/assets/img/public/BJ@2x.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .leftMean {

    background: rgba(255, 255, 255, 0.1);

    .logo {
      // background: #888888;

      .itemName {

        color: rgba(255, 255, 255, 1);
      }
    }

    .user {
      .userInfo {
        color: #ffffff;

        .userImg {
          // background: red;
        }
      }
    }

  }
}
