@import './theme1.scss';
@import './theme2.scss';

>>>.el-switch__core:after{
  width: 12px;
  height: 12.5px;
  left: -2px;
  top: 0;
}
>>>.el-switch__core{
  width: 24.5px !important;
  height: 12.5px;
  background:rgba(0,0,0,0.3) !important;
  border: 0 !important;
}
>>>.el-switch.is-checked .el-switch__core{
  background:rgba(73,188,52,1) !important;
}
>>>.el-switch.is-checked .el-switch__core::after{
  margin-left: -6px;
}
>>>.el-checkbox{
  font-size:12px;
  font-family:SourceHanSansCN-Light;
  font-weight:300;
  color:rgba(255,255,255,1);
}
>>>.el-checkbox__input.is-checked+.el-checkbox__label{
  color:rgba(255,255,255,1);
}
>>>.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
  background-color: rgba(73,188,52,1);
  border:1px solid rgba(255,255,255,0.5);
}
>>>.el-input__inner{
  width:320px;
  height:32px;
  margin-right: 16px;
  background:rgba(0,0,0,0.1);
  overflow: auto;
  padding: 3px;
  font-family:SourceHanSansCN-Light;
  font-weight:400;
  color:rgba(255,255,255,1);
}
.secDefSty{
  height:20px;
  font-size:20px;
  font-family:SourceHanSansCN-Medium;
  font-weight:500;
  color:rgba(255,255,255,1);
  margin-left: 10px;
}
.titleTopDef{
  display: flex;
  margin-top: 20px
}
.pathSty{
  width: 320px;
  height: 100px;
  border:1px solid rgba(255,255,255,1);
  border-radius: 1px;
  overflow: auto;
  font-size:12px;
}
.spanSty{
  background: #880822;
  margin: 5px;
  display: table;
  border-color: #e9e9eb;
  border-radius: 3px;
  padding: 3px;
  font-family:SourceHanSansCN-Light;
  font-weight:400;
  color:rgba(255,255,255,1);
}
.leftCont{
  width: 160px;
  text-align: right;
  margin-right: 16px;
  font-size:12px;
  font-family:SourceHanSansCN-Light;
  font-weight:300;
  color:rgba(255,255,255,1);
}
.baseDiv{
  width: 320px;
  height: 46px;
  margin-right: 16px;
  background:rgba(0,0,0,0.1);
  overflow: auto;
}
.diySty{
  width:87px;
  height:29px;
  background:rgba(0,0,0,0.25);
  border-radius:2px;
  text-align: center;
  line-height: 29px;
  cursor: pointer;
}
.diyTxt{
  font-size:12px;
  font-family:SourceHanSansCN-Light;
  font-weight:300;
  color:rgba(255,255,255,1);
}
.promptFont{
  font-size:10px;
  font-family:SourceHanSansCN-Light;
  font-weight:300;
  color:rgba(194,194,194,1);
}
.okButton{
  width:125px;
  height:30px;
  background:rgba(255,255,255,1);
  border-radius:2px;
  font-size:12px;
  font-family:SourceHanSansCN-Light;
  font-weight:300;
  color:rgba(228,70,68,1);
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.cancelButton{
  width:125px;
  height:30px;
  border-radius:2px;
  background:rgba(255,255,255,0.2);
  border:0.5px solid rgba(255,255,255,1);
  text-align: center;
  line-height: 30px;
  font-size:12px;
  font-family:SourceHanSansCN-Light;
  font-weight:300;
  color:rgba(255,254,254,1);
  cursor: pointer;
}
.active{
  background:rgba(255,255,255,0.9) !important;
  color:rgba(228,70,68,1) !important;
}
.buttonMargin{
  margin-right: 18px;
}
