@import './theme1.scss';
@import './theme2.scss';

.screen {
  .item {
    line-height: 20px;
    font-size: 12px;
    padding: 0 14px;
    color: #fff;
    opacity: 0.7;
    border: 1px solid #fff;
    cursor: pointer;

  }

  .item.active {
    opacity: 1;
  }
}
