@import './theme1.scss';
@import './theme2.scss';
>>>.el-radio__label{
  font-size:12px;
  font-family:SourceHanSansCN-Light;
  font-weight:300;
  color:rgba(255,255,255,1);
}
>>>.el-radio__input.is-checked+.el-radio__label{
  color:rgba(255,255,255,1);
}
>>>.el-radio__inner::after{
  width: 6px;
  height: 6px;
  background-color:rgba(255,255,255,1);
}
>>>.el-radio__input.is-checked .el-radio__inner{
  background-color:rgba(255,255,255,0.1);
  border:1px solid rgba(255,255,255,1)!important;
}
>>>.el-radio__inner{
  background-color:rgba(255,255,255,0.1);
  border:1px solid rgba(255,255,255,1)!important;
}
.titleSty{
  font-size:20px;
  font-family:SourceHanSansCN-Medium;
  font-weight:500;
  color:rgba(255,255,255,1);
  margin-top: 25px;
  margin-left: 10px;
}
.titleMargin{
  display: flex;
  margin-top: 20px
}
.leftCont{
  width: 160px;
  text-align: right;
  margin-right: 16px;
  font-size:12px;
  font-family:SourceHanSansCN-Light;
  font-weight:300;
  color:rgba(255,255,255,1);
}
.lineMargin{
  display: flex;
  margin-top: 20px
}
.okButton{
  width:125px;
  height:30px;
  background:rgba(255,255,255,1);
  border-radius:2px;
  font-size:12px;
  font-family:SourceHanSansCN-Light;
  font-weight:300;
  color:rgba(228,70,68,1);
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.cancelButton{
  width:125px;
  height:30px;
  border-radius:2px;
  background:rgba(255,255,255,0.2);
  border:0.5px solid rgba(255,255,255,1);
  text-align: center;
  line-height: 30px;
  font-size:12px;
  font-family:SourceHanSansCN-Light;
  font-weight:300;
  color:rgba(255,254,254,1);
  cursor: pointer;
}
.active{
  background:rgba(255,255,255,0.9) !important;
  color:rgba(228,70,68,1) !important;
}
.buttonMargin{
  margin-right: 18px;
}
