@import './theme1.scss';
@import './theme2.scss';
.tipSty{
  width: 60px;
  height: 40px;
  border: 1px solid;
  border-radius: 10px;
  position: absolute;
  left: 98%;
  top: 50%;
  margin-top: -20px;
  line-height: 40px;
  cursor: pointer;
  color:rgba(255,255,255,1);
}
.fontCss{
  font-size:12px;
  font-family:Microsoft YaHei;
  font-weight:400;
}
