@import './theme1.scss';
@import './theme2.scss';
.tipSty{
  width: 20px;
  height: 76px;
  position: absolute;
  top: 50%;
  margin-top: -38px;
  line-height: 76px;
  cursor: pointer;
  background:rgba(0,0,0,0.3);
  border-radius:40px 0px 0px 40px;
  right: 0;
}
.tipCloseSty{
  width: 20px;
  height: 76px;
  position: absolute;
  top: 50%;
  margin-top: -38px;
  line-height: 76px;
  cursor: pointer;
  background:rgba(0,0,0,0.3);
  border-radius:40px 0px 0px 40px;
  margin-left: 400px;
  z-index: 10000;
}
.fontCss{
  font-size:12px;
  font-family:SourceHanSansCN-Light;
  font-weight:300;
  color:rgba(255,254,254,1);
}
>>>.el-drawer{
  background:rgba(0,0,0,0.7);
  height: 100%;
  overflow: auto;
}
>>>.el-icon-arrow-right:before {
  font-size: 20px;
  color: white;
}
>>>.el-icon-arrow-left:before{
  font-size: 20px;
  color: white;
}
