@import './theme1.scss';
@import './theme2.scss';
.scanTypeSty{
  display: flex;
  justify-content:center;
  font-size:12px;
  font-family:Microsoft YaHei;
  font-weight:400;
  color:rgba(255,255,255,1) !important;
  width: 175px;
  text-align: center;
}
.headText{
  padding-top: 24px;
  margin-left:10px;
  font-size:20px;
  font-family:SourceHanSansCN-Medium;
  font-weight:500;
  color:rgba(255,255,255,1);
}
.device{
  margin-top: 106px;
  display: flex;
}
.deviceItem1{
  margin-left: 143px;
}
.deviceItem2{
  margin-left: 105px;
}
.timeSty{
  text-align: center;
  font-size:12px;
  font-family:SourceHanSansCN-Light;
  font-weight:400;
  color:rgba(226,215,215,1);
  margin-top: 124px;
}
