@import './theme1.scss';
@import './theme2.scss';

.myTable {
  margin-bottom: 10px;
  box-sizing: border-box;

  // border: 1px solid rgba(255, 255, 255, 0.1);

  >>>.el-table__expand-icon>.el-icon {
    color: #fff;
  }

  >>>.el-table__header-wrapper {
    background: rgba(0, 0, 0, 0.1);
  }

  >>>.el-table--striped .el-table__body tr.el-table__row--striped td {
    background: rgba(0, 0, 0, 0.1);
  }

  >>>.el-table {
    background: transparent;
    color: #fff;
  }

  >>>.el-table,
  >>>.el-table__expanded-cell {
    background: transparent;
  }

  >>>.el-table--small td,
  >>>.el-table--small th {
    padding: 8px 0;
  }

  >>>.el-checkbox__inner {
    background: transparent;
    width: 14px;
    height: 13px;
    text-align: center;
    line-height: 12px;
    font-size: 12px;
    transition: none;
    outline: none;

  }

  >>>.el-table thead {
    color: #fff;
  }

  >>>.el-table::before {
    height: 0;
  }

  >>>.el-table .cell {
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    padding-right: 5px;
    padding-left: 5px;
  }

  >>>.el-table td,
  >>>.el-table th.is-leaf {
    border-bottom: none;
  }

  >>>.el-table th,
  >>>.el-table tr {
    background: transparent;
  }

  >>>.el-checkbox__input.is-checked .el-checkbox__inner:focus,
  >>>.el-checkbox__input.is-checked .el-checkbox__inner:hover,
  >>>.el-checkbox__input.is-checked .el-checkbox__inner,
  >>>.el-checkbox__input.is-indeterminate .el-checkbox__inner {
    border-color: #fff
  }

  >>>.el-checkbox__inner:hover,
  >>>.el-checkbox__inner:focus {
    border-color: #fff
  }

  >>>.el-checkbox__input .el-checkbox__inner::after,
  >>>.el-checkbox__input.is-checked .el-checkbox__inner::after {
    border-color: #fff
  }

  >>>.el-table--enable-row-hover .el-table__body tr:hover>td {
    background-color: rgba(0, 0, 0, 0.2);
  }

  >>>.el-radio__inner {
    width: 12px;
    height: 12px;
  }

  >>>.securityPolicy {
    padding-left: 96px;
    font-size: 12px !important;

    .el-form-item--small.el-form-item {
      margin-bottom: 0;
    }

    .el-form-item__label {
      color: #fff;
      padding-right: 10px;
      width: 80px;
      text-align: right;
      font-size: 12px;
    }

    .el-form-item__content {
      font-size: 12px;
    }

  }
}
