@import './theme1.scss';
@import './theme2.scss';

.multiTable {
  @include childXBetween;
  background: rgba(255, 255, 255, 0.1);

  .cars {
    height: 32px;

    @include childYCenter;

    .line {
      width: 1px;
      height: 17px;
      color: #fff;
    }

    .item.clickOpacity {
      opacity: 1;
    }

    .item {
      line-height: 32px;
      font-size: 14px;
      padding: 0 14px;
      color: #fff;
      opacity: 0.7;
      cursor: pointer;

    }
  }

  .policyID {
    font-size: 14px;
    line-height: 32px;
    margin-right: 10px;
    color: #fff;
  }

}
